In [1]:
import pandas as pd

In [2]:
file = 'first_nn_htr6.csv'
df = pd.read_csv(file)

In [3]:
df.head()

   Unnamed: 0                                             smiles     pXC50
0      884107  OC=1N(CN2CCC(CCCC3CCN(CC3)CN4C(O)=CC=C4O)CC2)C...  5.074899
1      619801           OC=1N(C=NC=2C1N=C3C2C=CC=C3)CN4C(CCC4)CC  5.078511
2      460180           OC=1N(CN2C(CCC2)CC)C=NC=3C1N=C4C3C=CC=C4  5.078511
3      723170  C1(=C(C2=CC=CC=C2N1C)C(NCC(O)CO)=O)SSC3=C(C=4C...  5.097253
4      339493            O[N+]=1[N+](O)=C(C(=NO)C1C=2C=CC=CC2)CC  5.099036

In [4]:
#
df.sort_values(by='pXC50', ascending=False, inplace=True)
df.head()

,Unnamed: 0,smiles,pXC50
1062606,17900,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NCC4...,9.916413
1062605,367600,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NCC4...,9.912755
1062604,665237,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NC4C...,9.896688
1062603,838060,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(N[C@...,9.896688
1062602,34029,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(N[C@...,9.896688

In [5]:
df.shape

(1062737, 3)

In [6]:
df_no_duplicates = df.drop_duplicates(subset=['pXC50'])
df_no_duplicates.shape

(598277, 3)

In [7]:
df_no_duplicates.head(10)

,Unnamed: 0,smiles,pXC50
1062606,17900,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NCC4...,9.916413
1062605,367600,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NCC4...,9.912755
1062604,665237,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NC4C...,9.896688
1062601,803188,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NC4C...,9.896200
1062600,898654,ClC1=C(C=C([C@@H]2O[C@@H]([C@@H](O)[C@H](O)[C@...,9.893994
1062599,847167,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C3=C(C(NCC4C...,9.892296
1062598,528485,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(N[C@...,9.891612
1062595,220310,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NC4C...,9.888994
1062594,806910,C=1C=C(C(=CC1[C@H]2[C@@H]([C@H]([C@@H]([C@H](O...,9.886926
1062593,189768,N1(C2[C@@H]([C@H](O)[C@H](O2)CO)O)C=3C(=C(NC4C...,9.880793

In [8]:
#df_no_duplicates.smiles[:10].to_csv('adme.csv')

In [9]:
base = 'pubchem.chembl.dataset4publication_inchi_smiles_v2.tsv'
base_tsv = pd.read_csv(base, sep='\t', usecols=['DB', 'Original_Entry_ID', 'SMILES'])

In [10]:
merged = pd.merge(df,base_tsv,left_on='smiles', right_on='SMILES', how='inner')

In [11]:
#new = new.drop(labels='SMILES', axis=1)
merged.shape

(56853341, 6)

In [13]:
merged = merged[merged.DB == 'chembl20']
merged.shape

(2125557, 6)

In [15]:
unique_chembl = merged.drop_duplicates(subset='Original_Entry_ID')
unique_chembl.shape

(535281, 6)

In [17]:
unique_chembl.to_csv('unique_chembl.csv')