In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('swissADME_big.csv')

In [3]:
file.head()

,Unnamed: 0,smiles,pXC50,Original_Entry_ID,DB,MW,HA,HD,logP,Lipinski rule
0,0,OC=1N(CN2C(CCC2)CC)C=NC=3C1N=C4C3C=CC=C4,4.941354,3238198,pubchem_screening,296.374,5,1,3.0736,True
1,3,OC=1N(CN2C(CCC2)CC)C=NC=3C1N=C4C3C=CC=C4,4.941354,3238198,pubchem,296.374,5,1,3.0736,True
2,241,OC=1N(C=NC=2C1N=C3C2C=CC=C3)CN4C(CCC4)CC,4.941354,CHEMBL1392212,chembl20,296.374,5,1,3.0736,True
3,248,S=1(O)(O)=CC2N(/C(/SC2C1)=N/C(=O)C3CCCCC3)C4=C...,4.999475,4908209,pubchem_screening,378.519,4,2,3.8085,True
4,251,S=1(O)(O)=CC2N(/C(/SC2C1)=N/C(=O)C3CCCCC3)C4=C...,4.999475,4908209,pubchem,378.519,4,2,3.8085,True

In [5]:
cleaned = file.drop_duplicates(subset='smiles', keep='last')

In [6]:
cleaned.head()

,Unnamed: 0,smiles,pXC50,Original_Entry_ID,DB,MW,HA,HD,logP,Lipinski rule
1,3,OC=1N(CN2C(CCC2)CC)C=NC=3C1N=C4C3C=CC=C4,4.941354,3238198,pubchem,296.374,5,1,3.0736,True
2,241,OC=1N(C=NC=2C1N=C3C2C=CC=C3)CN4C(CCC4)CC,4.941354,CHEMBL1392212,chembl20,296.374,5,1,3.0736,True
5,406,S=1(O)(O)=CC2N(/C(/SC2C1)=N/C(=O)C3CCCCC3)C4=C...,4.999475,CHEMBL3213015,chembl20,378.519,4,2,3.8085,True
6,410,S1C(NC2CCN(CC2)CC3=CC(OC)=C(O)C=C3)=NC=4C1=CC=CC4,5.000006,24740638,pubchem,369.490,6,2,4.0870,True
7,411,S1C=2N3C(C(OCC4CCN(CC4)CC)=NC2C=C1)=CC=C3,5.004642,9861687,pubchem,315.442,5,0,3.6597,True

In [7]:
cleaned.to_csv("cleaned_htr.csv")